<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kim.jeonghyeon.androidlibrary">
    <!--use below for inherit BaseApplication -->
    <!--tools:replace="android:name"-->
    <application android:name=".BaseApplication">
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
    </application>

</manifest>